#footer{
    display: none;
}

.utf_dashboard_navigation ul{
    padding-left: 15px !important;
}
ul.admin.user-cities li .name {
    width: 125px;
    margin-left: 10px;
}
@media screen and (max-width: 765px){

ul.admin.user-province .changestatus-appointment {
    flex-wrap: wrap;
}

ul.admin.user-province .changestatus-appointment * {
    margin-bottom: 10px;
}

ul.admin.user-services .changestatus-appointment {
    flex-wrap: wrap;
}
ul.admin.user-services .changestatus-appointment *{
    margin-bottom: 10px;
}


ul.admin.user-subservices .changestatus-appointment {
    flex-wrap: wrap;
}
ul.admin.user-subservices .changestatus-appointment *{
    margin-bottom: 10px;
}

ul.admin.user-cities li{
    display: flex;
    flex-direction: column;
}
ul.admin.user-cities .changestatus-appointment {
    flex-direction: column;
    align-items: flex-start;
}

ul.admin.user-cities .changestatus-appointment * {
    margin-bottom: 10px;
}

.add-province .row .changestatus-appointment {
    flex-wrap: wrap;
}

.add-province .row .changestatus-appointment * {
    margin-bottom: 10px;
}
    
}

.counter-booking li {
    /* background: red !important; */
    background: #ffa5005e !important;
    color: orangered !important;
    padding: 3px 10px !important;
    border-radius: 5px !important;
}

.counter-booking li span {
    color: orangered !important;
    font-size: 12px;
}


@media screen and (max-width: 991px){
  .utf_dashboard_navigation.active ul, .utf_dashboard_navigation.active {
      max-height: 1800px !important;
  }
}



.appointmentstable th {
    text-align: revert;
}

.appointmentstable.table {
    background: white;
    border-radius: 5px !important;
    border: 1px solid #ccce;
}

.apt-filter .listing_filter_block{
    margin-bottom: 0 !important;
}

select[name="aptstatus"] {
    padding: 0;
}